/* You can add global styles to this file, and also import other style files */
html *{
	font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #004E7F;
}

.goog-te-gadget-simple{
    background-color: transparent;
    border: 2px solid #004E7F;
    border-radius: 25px;
    font-size: 1rem;
    padding: 0.5rem;
}

.goog-te-gadget-simple:hover{
    background-color: white;
}