server/node_modules/
# server/config.js

/client/dist
/client/src/environments/config.ts
/client/tmp
/client/out-tsc

/client/node_modules

/client/.idea
/client/.project
/client/.classpath
/client/.c9/
/client/*.launch
/client/.settings/
/client/*.sublime-workspace

/cleint/.sass-cache
/client/connect.lock
/client/coverage
/client/libpeerconnection.log
/client/npm-debug.log
/client/testem.log
/client/typings

/client/e2e/*.js
/client/e2e/*.map

/client/.DS_Store
/client/Thumbs.db