<particles [params]="pConfig.params" [style]="pConfig.style" [width]="pConfig.width" [height]="pConfig.height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <div class="medium-6 medium-centered column" id="messageDiv">
        <p class="unselectable" id="message">Forgot Password?</p>
        <font color="white">Email:</font><br>
        <input class="textInput" type="text" name="email"><br>
        <button class="button">Send Email</button>
    </div>
  </div>
</div>