<particles [params]="particlesConfig.params" [style]="particlesConfig.style" [width]="particlesConfig.width" [height]="particlesConfig.height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
		<div class="medium-6 column medium-centered" id="messageDiv">
			<p class="unselectable" id="message">Sign Up</p>
			<form (ngSubmit)="submit()" #signupForm="ngForm">
				<div class="form-group">
					<label for="name"><font color="white">Email:</font></label>
					<input class="textInput" type="text" name="email" [(ngModel)]="model.email">
					<small class="form-error">{{errors.email}}</small>
					<p class="error">{{errors.email}}</p> 
				</div>
				<div class="form-group">
					<label for="name"><font color="white">Password:</font></label>
					<input class="textInput" type="password" name="password" [(ngModel)]="model.password">
					<p class="error">{{errors.password}}</p>
				</div>
				<div class="form-group">
					<label for="name"><font color="white">Confirm Password:</font></label>
					<input class="textInput" type="password" name="confirmPassword" [(ngModel)]="model.confpass">
					<p class="error">{{errors.confpass}}</p>
				</div>

				<button [disabled]="submitted" class="button">Create Account</button>

			</form>
		</div>
	</div>
</div>