<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <div class="medium-6 column medium-centered" id="messageDiv">
        <p class="unselectable" id="message">Sign Up</p>
        <!-- <font color="white">First name:</font><br>
        <input class="textInput" type="text" name="firstname"><br>
        <font color="white">Last name:</font><br>
        <input class="textInput" type="text" name="lastname"><br> -->
        <font color="white">Username:</font><br>
        <input class="textInput" type="text" name="username"><br>
        <font color="white">Password:</font><br>
        <input class="textInput" type="password" name="password"><br>
        <font color="white">Confirm Password:</font><br>
        <input class="textInput" type="password" name="confirmPassword"><br>
        <button class="button">Create Account</button>
    </div>
  </div>
</div>