<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <!-- <p id="welcome">Welcome to Connec+</p> -->
    <div class="medium-6 column medium-centered" id="messageDiv">
        <p class="unselectable" id="message">Sign Up</p>
        First name:<br>
        <input type="text" name="firstname"><br>
        Last name:<br>
        <input type="text" name="lastname"><br>
        Username:<br>
        <input type="text" name="username"><br>
        Password:<br>
        <input type="text" name="password">
    </div>
  </div>
</div>