<particles [params]="particlesConfig.params" [style]="particlesConfig.style" [width]="particlesConfig.width" [height]="particlesConfig.height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <div class="medium-6 medium-centered column" id="messageDiv">
        <p class="unselectable" id="message">Login</p>
        <font color="white">Email:</font><br>
        <input class="textInput" type="text" name="username"><br>
        <font color="white">Password:</font><br>
        <input class="textInput" type="password" name="password"><br>
        <button class="button">Login</button>
    </div>
  </div>
</div>