<particles [params]="pConfig.params" [style]="pConfig.style" [width]="pConfig.width" [height]="pConfig.height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <div class="medium-6 medium-centered column" id="messageDiv">
        <p class="unselectable" id="message">Login</p>
        <form (ngSubmit)="submit()" #signupForm="ngForm">
            <div class="form-group">
                <font color="white">Email:</font><br>
                <input class="textInput" type="text" name="email" [(ngModel)]="model.email">
                <p class="error">{{errors.email}}</p>  
            </div>
            <div class="form-group">
                <font color="white">Password:</font><br>
                <input class="textInput" type="password" name="password"[(ngModel)]="password">
                <p class="error">{{errors.password}}</p> 
            </div>
            <button [disabled]="submitted" class="button" >Login</button>
            <button class="button" routerLink="/reset" routerLinkActive="active">Forgot Password</button>
        </form>
    </div>
  </div>
</div>