<particles [params]="particlesConfig.params" [style]="particlesConfig.style" [width]="particlesConfig.width" [height]="particlesConfig.height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <div class="medium-6 medium-centered column" id="messageDiv">
        <p class="unselectable" id="message">Login</p>
        <form (ngSubmit)="submit()" #signupForm="ngForm">
            <div class="form-group">
                <font color="white">Email:</font><br>
                <input class="textInput" type="text" name="email"><br>
            <!--    <small class="form-error">{{errors.email}}</small>
                <p class="error">{{errors.email}}</p>  -->
            </div>
            <div class="form-group">
                <font color="white">Password:</font><br>
                <input class="textInput" type="password" name="password"><br>
             <!--     <p class="error">{{errors.password}}</p> -->
            </div>
            <button [disabled]="submitted" class="button">Login</button>
            <button class="button">Forgot Password</button>
        </form>
    </div>
  </div>
</div>