img {
    border-radius: 50%;
}

.upload-buttonPhoto-wrapper {
  position: relative;
  margin: 0.0rem;
  padding: 0rem;
  border-radius: 250px;
}

.buttonPhoto {
  margin: 0rem;
  font-size: 1rem;
  background: transparent;
  color: #004E7F;
  border: #004E7F solid 2px;
  border-radius: 25px;
}

.upload-buttonPhoto-wrapper:hover > .buttonPhoto{
  background-color: rgba(0, 118, 187, 0.75);
    color: white;
}

.upload-buttonPhoto-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  
}

.mainDiv{
    align-content: center;
    display: block;
    float: center;
}

.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
.none{
  display: none;
}

.topText{
    font-size: 2rem;
    color:#004E7F;
    margin-bottom: 0px;
}

.subText{
    font-size: 1.5rem;
    color:#004E7F;
    margin-bottom: 0px;
}

.saveButton{
    margin-top: 0.25rem;
    padding: 1rem;
    font-size: 1rem;
    background: transparent;
    color: #004E7F;
    border: #004E7F solid 2px;
    border-radius: 25px;
}

.saveButton:hover{
    background-color: rgba(0, 118, 187, 0.75);
    color: white;
}

.arrowButton{
  background: transparent;
  color:#004E7F;
  font-size: 1.5rem;
}

#header{
    text-align: center;
    width: auto !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;

    font-size: 3rem;
    color:#004E7F;
    margin-bottom: 0px;
}

#invisibilityDiv{
  text-align: center;
  width: auto !important;
  height: auto !important;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

.switch{
  border-radius: 25px;
}

.switch input:checked ~ .switch-paddle{
  background: #0076BB;
}


.mobile-app-toggle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 95%;
  border: 1px solid #1779ba;
  border-radius: 0.625rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
}

.mobile-app-toggle .button {
  background: transparent;
  color: #1779ba;
  margin-bottom: 0;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}

.mobile-app-toggle .button:nth-child(n+1) {
  border-left: 1px solid #1779ba;
}

.mobile-app-toggle .button.is-active {
  background: #1779ba;
  color: #fefefe;
}




#accountDetails{
    text-align: center;
    width: auto !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
}

#profileIcon{
    width: 50%;
    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 10rem;
}

#addProfile{
    background: transparent;
    border: #004E7F solid 2px;
    color: #004E7F;
    border-radius: 25px;
}

#addProfile:hover{
    background: rgba(0, 118, 187, 0.75);
    color: white;
}

#formTitle{
    text-align: left !important;
    margin-bottom: 0px;
    color: #004E7F;
}

#gender #age{
    width: 50%;
}

.textInput{
    background: rgba(255, 255, 255, 0.6);
    border: #004E7F solid 2px;
    border-radius: 25px;
}

#gender{
  background: rgba(255, 255, 255, 0.6);
  border: #004E7F solid 2px;
  border-radius: 25px;
}

#security{
  text-align: center;
  width: auto !important;
  height: auto !important;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  overflow: auto;
}

#security input{
  margin-left: 12.5%;
  width: 75%;
}

#security #formTitle{
  margin-left: 12.5%;
}

#socialMedia{
    text-align: center;
    width: auto !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;

}

.social-expanded{
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  position: relative;
}

#face-exp{
  background-color: rgba(59, 89, 152, 0.8);
}

#insta-exp{
  background-color: rgba(138, 58, 185, 0.8);
}

#link-exp{
  background-color: rgba(0, 119, 181, 0.8);
}

#black-exp{
  background-color: rgba(0, 0, 0, 0.8);
}

.socialConnect{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  color: lightgreen;
}

.socialNotConnect{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  color: lightcoral;
}

.socialButton{
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border: 2px solid white;
  border-radius: 25px;
}

.socialButton:hover{
  background-color: white;
  color: black;
}

.social-icon-button {
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: none;
    /* padding: 1rem; */
    margin-top: 1rem;
  }
  
  .social-icon-button + .social-icon-button {
    margin-left: 0.25rem;
  }
  
  .social-icon-button .fa {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    line-height: 3.6rem;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }
  
  .social-icon-button:hover .fa {
    color: #fefefe;
  }
  
  .social-icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  
  .social-icon-button.instagram {
    color: #8a3ab9;
  }
  
  .social-icon-button.instagram span {
    background-color: #8a3ab9;
  }
  
  .social-icon-button.linkedin {
    color: #0077B5;
  }
  
  .social-icon-button.linkedin span {
    background-color: #0077B5;
  }
  
  .social-icon-button.facebook {
    color: #3b5998;
  }
  
  .social-icon-button.facebook span {
    background-color: #3b5998;
  }

  .social-icon-button.blackboard{
    color: #000000;
  }
  
  .social-icon-button.blackboard span {
    background-color: #000000;
  }

  .social-icon-button.interest{
    color: gray;
  }
  
  .social-icon-button.interest span {
    background-color: gray;
  }

  .social-icon-button.arrow{
    color: #004E7F;
  }
  
  .social-icon-button.arrow span {
    background-color: #004E7F;
  }

#interests{
    text-align: center;
    width: auto !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
}

#feedbackSection{
    text-align: center;
    width: auto !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    float: center;
}

#deleteAccount{
    text-align: center;
    width: auto !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow: auto;
    float: center;
}