<particles [params]="pConfig.params" [style]="pConfig.style" [width]="pConfig.width" [height]="pConfig.height"></particles>


<div id="MainDiv">
	<div clas="row">
		<div class="medium-12 medium-centered column">
			<div id="header">
				<p>Settings</p>
				<!-- Change password, Name, Age, Etc -->
			</div>

			<div id="accountDetails">
				<form (ngSubmit)="clearing()" #signupForm="ngForm">
					<p class="topText" (click)="toggleDiv('genShow')">General
						<button class="button arrowButton">
							<i class="fa" [ngClass]="{'fa-chevron-down' : !genShow, 'fa-chevron-up' : genShow}"></i>
						</button>
					</p>
				</form>
				<div id="general Content" *ngIf="genShow">
					<form (ngSubmit)="updateInfo()" #signupForm="ngForm">
						<div class="medium-4 column">
							<!-- <i id="profileIcon" class="fa fa-user-circle"></i> -->
							<!--  <img id="profileIcon" src="../../assets/profileicon.ico"/><br> -->
							<img id="profileIcon" [src]="model.user.url" />
							<br>
							<div class="upload-buttonPhoto-wrapper">
								<button class="button buttonPhoto">Change Profile Picture</button>
								<input type='file' (change)="onSelectFile($event)" id="hiddenFile">
							</div>

						</div>
						<div class="medium-8 column">
							<p id="formTitle">First Name:</p>
							<input class="textInput" type="text" name="firstName" [(ngModel)]="model.user.firstName">
							<p id="firstnameError" class="error">{{errors.FnameError}}</p>
							<p id="formTitle">Last Name:</p>
							<input class="textInput" type="text" name="lastName" [(ngModel)]="model.user.lastName">
							<p id="lastnameError" class="error">{{errors.LnameError}}</p>
							<p id="formTitle">Gender:</p>
							<select id="gender" name="gender" [(ngModel)]="model.user.gender">
								<option selected="true" disabled="disabled">Please select an option</option>
								<option value="male">Male</option>
								<option value="female">Female</option>
								<option value="other">Other</option>
							</select>
							<p id="formTitle">Age:</p>
							<input class="textInput" type="number" name="age" min="0" max="1000" d="age" [(ngModel)]="model.user.age">
							<p id="ageError" class="error">{{errors.AgeError}}</p>
						</div>
						<p id="informationChangeError" class="error">{{errors.changeInfoE}}</p>
						<p id="successInfoChange" class="success">{{success.changeInfoS}}</p>
						<button class="button saveButton">Save Changes</button>
					</form>
				</div>

			</div>

			<div id="security" class="medium-12 medium-centered column">
				<form (ngSubmit)="clearing()" #signupForm="ngForm">
					<p class="topText" (click)="toggleDiv('secShow')">Security
						<button class="button arrowButton">
							<i class="fa" [ngClass]="{'fa-chevron-down' : !secShow, 'fa-chevron-up' : secShow}"></i>
						</button>
					</p>
				</form>
				<div id="securityContent" *ngIf="secShow">
					<form (ngSubmit)="changeemail()" #signupForm="ngForm">
						<p class="subText">Change Email</p>

						<p id="formTitle">Current Email:</p>
						<input class="textInput" type="text" name="currentEmail" [(ngModel)]="model.currentEmail">
						<p id="currentEmailError" class="error">{{errors.currentEmailChange}}

							<p id="formTitle">New Email:</p>
							<input class="textInput" type="text" name="newEmail" [(ngModel)]="model.newEmail">
							<p if="newEmailchangeError" class="error">{{errors.newEmail}}</p>
							<!--  localStorage.setItem("localEmail", "newEmail") -->

							<p id="formTitle">Password:</p>
							<input class="textInput" type="password" name="password" [(ngModel)]="model.emailChangePass">
							<p id="changeemailPasswordError" class="error">{{errors.pass}}</p>

							<p id="changeEmailError" class="error">{{errors.emailChangeE}}</p>
							<p class="success">{{success.emailChangeS}}</p>
							<button class="button saveButton">Save Changes</button>
					</form>
					<form (ngSubmit)="changepass()" #signupForm="ngForm">
						<p class="subText">Change Password</p>
						<p id="formTitle">Old Password:</p>
						<input id="currentPasswordInput" class="textInput" type="password" name="oldPassword" [(ngModel)]="model.currentPassword">
						<p id="curPassError" class="error">{{errors.oldPass}}</p>

						<p id="formTitle">New Password:</p>
						<input id="newPasswordInput" class="textInput" type="password" name="newPassword" [(ngModel)]="model.newPassword">
						<p id="newPassError" class="error">{{errors.newPass}}</p>

						<p id="formTitle">Confirm New Password:</p>
						<input id="confirmPasswordInput" class="textInput" type="password" name="confirmNewPassword" [(ngModel)]="model.conPassword">
						<p id="conPassError" class="error">{{errors.conPass}}</p>
						<!--  localStorage.setItem("localPassword", "password")-->

						<p class="error">{{errors.passwordChangeE}}</p>
						<p class="success">{{success.passwordChangeS}}</p>
						<button class="button saveButton">Save Changes</button>
					</form>
				</div>

			</div>

			<div id="socialMedia">
				<p class="topText" (click)="toggleDiv('conShow')">Social Connections
					<button class="button arrowButton">
						<i class="fa" [ngClass]="{'fa-chevron-down' : !conShow, 'fa-chevron-up' : conShow}"></i>
					</button>
				</p>

				<div id="connectionContent" *ngIf="conShow">
					<div class="medium-3 column">
						<a class="social-icon-button facebook" (click)="toggleDiv('faceShow')">
							<i class="fa fa-facebook" aria-hidden="true"></i>
							<span></span>
						</a>
					</div>
					<div class="medium-3 column">
						<a class="social-icon-button twitter" (click)="toggleDiv('twitShow')">
							<i class="fa fa-twitter"></i>
							<span></span>
						</a>
					</div>
					<div class="medium-3 column">
						<a class="social-icon-button linkedin" (click)="toggleDiv('linkShow')">
							<i class="fa fa-linkedin"></i>
							<span></span>
						</a>
					</div>
					<div class="medium-3 column">
						<a class="social-icon-button blackboard" (click)="toggleDiv('blackShow')">
							<i class="fa fa-pencil-square-o"></i>
							<span></span>
						</a>
					</div>

					<div id="connectionSubContent" *ngIf="faceShow || twitShow || linkShow || blackShow">
						<div class="medium-3 column social-expanded" id="face-exp" [ngClass]="{'hidden' : !faceShow, 'visible' : faceShow}">
							<p>Facebook</p>
							<div class="socialConnect" [ngClass]="{'none' : !inFacebook, 'visible' : inFacebook && faceShow}">
								<i class="fa fa-check"></i>
								<p>Connected</p>
							</div>
							<div class="socialNotConnect" [ngClass]="{'none' : inFacebook, 'visible' : !inFacebook && faceShow}">
								<i class="fa fa-times"></i>
								<p>Not Connected</p>
							</div>
							<button (click)="link_facebook()" class="button socialButton" id="face-con">Connect</button>
							<button (click)="logout_facebook()" class="button socialButton" id="face-dis">Disconnect</button>
						</div>
						<div class="medium-3 column social-expanded" id="twit-exp" [ngClass]="{'hidden' : !twitShow, 'visible' : twitShow}">
							<p>Twitter</p>
							<!-- <div class="socialConnect" [ngClass]="{'none' : !inTwitter, 'visible' : inTwitter && twitShow}"><i class="fa fa-check"></i><p>Connected</p></div>
								<div class="socialNotConnect" [ngClass]="{'none' : inTwitter, 'visible' : !inTwitter && twitShow}"><i class="fa fa-times"></i><p>Not Connected</p></div>
								<button class="button socialButton" id="insta-con">Connect</button>
								<button class="button socialButton" id="intsa-dis">Disconnect</button> -->
							<p id="formTitle">Twitter Screen Name:</p>
							<input class="textInput" type="text" name="screenName" [(ngModel)]="model.user.screenName">
							<button (click)="link_twitter()" class="button socialButton" id="link-con">Connect</button>
							<p class="error">{{errors.twitterE}}</p>
						</div>
						<div class="medium-3 column social-expanded" id="link-exp" [ngClass]="{'hidden' : !linkShow, 'visible' : linkShow, 'none' : blackInter}">
							<p>LinkedIn</p>
							<div class="socialConnect" [ngClass]="{'none' : !inLinkedIn, 'visible' : inLinkedIn && linkShow}">
								<i class="fa fa-check"></i>
								<p>Connected</p>
							</div>
							<div class="socialNotConnect" [ngClass]="{'none' : inLinkedIn, 'visible' : !inLinkedIn && linkShow}">
								<i class="fa fa-times"></i>
								<p>Not Connected</p>
							</div>
							<button class="button socialButton" id="link-con">Connect</button>
							<button class="button socialButton" id="link-dis">Disconnect</button>
							<!-- <p id="formTitle">Twitter Screen Name:</p>
								<input class="textInput" type="text" name="screenName" [(ngModel)]="model.user.screenName">
								<button (click)="link_linkedin()" class="button socialButton" id="link-con">Connect</button> -->
						</div>

						<div id="blackboardInterface" class="medium-3 column social-expanded" *ngIf="blackInter">
							<div *ngIf="inAdd">
								<p>Add Classes</p>
								<!-- List of subjects -->
								<div id="subjectList" *ngIf="!inSubject">
									<div id="subjectListContainer">
										<p *ngFor="let subject of subjects" (click)="showClassList(subject.Abbreviation)" class="clickable" id="currentList"> 
											{{subject.Abbreviation}}
										</p>

									</div>
									<p (click)="toggleAdd()" class="clickable"><i class="fa fa-times"></i> Close</p>
								</div>
								<!-- Course list in subject -->
								<div id="courseList" *ngIf="inSubject">
									<div id="courseListContainer">
										<p *ngFor="let cl of classList" (click)="addClass(cl.Number)" class="clickable" id="currentList">
											{{currSubject}} {{cl.Number}}
										</p>
									</div>
									<p (click)="showSubjectList()" class="clickable"><i class="fa fa-arrow-left"></i> Back</p>
								</div>
							</div>
							<div *ngIf="inDelete">
								<p>Delete Classes</p>
								<!-- Deleting classes menu -->
								<!-- List of subjects -->
								<div id="subjectListContainer" *ngIf="!inSubject">
									<p *ngFor="let cl of userClasses" (click)="deleteClass(cl)" class="clickable" id="currentList">
										{{cl}}
									</p>
								</div>
								<p (click)="toggleDelete()" class="clickable"><i class="fa fa-times"></i> Close</p>
							</div>
						</div>

						<div class="medium-3 column social-expanded" id="black-exp" [ngClass]="{'hidden' : !blackShow, 'visible' : blackShow}">
							<p>Blackboard</p>
							<p id="currentClasses">Current Classes</p>
							<p id="currentList" *ngFor="let cl of userClasses">
								{{cl}}
							</p>
							<button class="button socialButton" id="black-con" (click)="toggleAdd()">Add Classes</button>
							<button class="button socialButton" id="black-dis" (click)="toggleDelete()">Remove Classes</button>
							<!-- Regular adding classes menu -->

						</div>

					</div>
				</div>

			</div>

			<div id="interests">
				<form (ngSubmit)="clearing()" #signupForm="ngForm">
					<p class="topText" (click)="toggleDiv('intShow')">Interests
						<button class="button arrowButton">
							<i class="fa" [ngClass]="{'fa-chevron-down' : !intShow, 'fa-chevron-up' : intShow}"></i>
						</button>
					</p>
				</form>

				<div id="interestContent" class="medium-12 medium-centered column" *ngIf="intShow">
					<!-- <form (ngSubmit)="updateInfo()" #signupForm="ngForm"> -->
						<select id="interestSelection" [(ngModel)]="model.interestSub">
							<option value="sports">Sports</option>
							<option value="music">Music Genres</option>
							<option value="animals">Animals</option>
							<option value="tv">TV Shows</option>
							<option value="movies">Movies</option>
							<option value="hobbies">Hobbies</option>
							<option value="country">Country</option>
							<option value="food">Food</option>
						</select>
						<div>
								<input type="text" name="interestInput" id="interestInput" list="options" (click)="updateIntArray()" [(ngModel)]="model.interestSelected">
								<datalist id="options" >
									<option *ngFor="let i of cIntArray" [value]="i" >
									<!-- <option value="Firefox">
									<option value="Chrome">
									<option value="Opera">
									<option value="Safari"> -->
								</datalist>
						</div>
						<button id="interestButton" class="button" (click)="addInterest(model.interestSub,model.interestSelected)"><i class="fa fa-plus"></i></button>
						<div id="displayInterests" class="medium-12 column">
							<div class="medium-3 column interestPanel">
								<p class="interestTitle">Interest Category</p>
								<div class="interestList">
									<p>Interest</p>
									<p>Interest</p>
									<p>Interest</p>
									<p>Interest</p>
									<p>Interest</p>
									<p>Interest</p>
								</div>
								<p>Clear All</p>
							</div>
							<div class="medium-3 column interestPanel">
									<p class="interestTitle">Interest Category</p>
									<div class="interestList">
										<p>Interest</p>
										<p>Interest</p>
										<p>Interest</p>
										<p>Interest</p>
										<p>Interest</p>
										<p>Interest</p>
									</div>
									<p>Clear All</p>
								</div>
								<div class="medium-3 column interestPanel">
										<p class="interestTitle">Interest Category</p>
										<div class="interestList">
											<p>Interest</p>
											<p>Interest</p>
											<p>Interest</p>
											<p>Interest</p>
											<p>Interest</p>
											<p>Interest</p>
										</div>
										<p>Clear All</p>
									</div>
									<div class="medium-3 column interestPanel">
											<p class="interestTitle">Interest Category</p>
											<div class="interestList">
												<p>Interest</p>
												<p>Interest</p>
												<p>Interest</p>
												<p>Interest</p>
												<p>Interest</p>
												<p>Interest</p>
											</div>
											<p>Clear All</p>
										</div>
						</div>
				</div>

			</div>


			<div id="feedbackSection">
				<p class="topText" (click)="toggleDiv('fedShow')">Submit Feedback
					<button class="button arrowButton">
						<i class="fa" [ngClass]="{'fa-chevron-down' : !fedShow, 'fa-chevron-up' : fedShow}"></i>
					</button>
				</p>

				<div id="feedbackContent" *ngIf="fedShow">
					<div class="medium-12 column">
						<textarea class="textInput" rows="4" cols="50" [(ngModel)]="model.feedback">></textarea>
					</div>
					<p class="success">{{success.feedbackS}}</p>
					<button (click)="feedback()" class="button saveButton">Submit</button>
				</div>
			</div>

			<div id="deleteAccount">
				<form (ngSubmit)="clearing()" #signupForm="ngForm">
					<p class="topText" (click)="toggleDiv('delShow')">Delete Account
						<button class="button arrowButton">
							<i class="fa" [ngClass]="{'fa-chevron-down' : !delShow, 'fa-chevron-up' : delShow}"></i>
						</button>
					</p>
				</form>

				<div id="deleteContent" *ngIf="delShow">
					<form (ngSubmit)="del()" #signupForm="ngForm">
						<div class="medium-8 column">
							<p id="formTitle">Please confirm your Email:</p>
							<input class="textInput" type="text" name="confirmEmail" [(ngModel)]="model.email">
							<p id="formTitle">Please confirm your password:</p>
							<input class="textInput" type="password" name="confirmPassword" [(ngModel)]="model.password">
						</div>
						<p id="deleterError" class="error">{{errors.cred}}</p>

						<button class="button saveButton">Delete Account</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>