img {
    border-radius: 50%;
}

.upload-buttonPhoto-wrapper {
  position: relative;
  margin: 0.0rem;
  padding: 0rem;
  border-radius: 250px;
}

.buttonPhoto {
  margin: 0rem;
  font-size: 1rem;
  background: transparent;
  color: #004E7F;
  border: #004E7F solid 2px;
  border-radius: 25px;
}

.upload-buttonPhoto-wrapper:hover > .buttonPhoto{
  background-color: rgba(0, 118, 187, 0.75);
    color: white;
}

.upload-buttonPhoto-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  
}

.mainDiv{
    align-content: center;
    display: block;
    float: center;
}

.hidden{
  visibility: hidden;
}
.visible{
  visibility: visible;
}
.none{
  display: none;
}

.topText{
    font-size: 2rem;
    color:#004E7F;
    margin-bottom: 0.75rem;
    margin-top: 0.75rem;
    cursor: pointer;
}

.subText{
    font-size: 1.5rem;
    color:#004E7F;
    margin-bottom: 0px;
}

.saveButton{
    margin-top: 0.25rem;
    padding: 1rem;
    font-size: 1rem;
    background: transparent;
    color: #004E7F;
    border: #004E7F solid 2px;
    border-radius: 25px;
}

.saveButton:hover{
    background-color: rgba(0, 118, 187, 0.75);
    color: white;
}

.arrowButton{
  background: transparent;
  color:#004E7F;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0px;
  padding: 0px;
  padding-top: 1.5rem;
  padding-right: 1rem;
}

#header{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
    height: auto !important;
}

#accountDetails{
    text-align: center;
    width: 95% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    overflow: auto;

    position: relative;
}

#profileIcon{
    /* width: 50%;
    margin-top:1rem;
    margin-bottom: 1rem;
    font-size: 10rem; */

    /* width: 80px;
    height: 80px; */
    width: 10rem;
    height: 10rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-top:1rem;
    margin-bottom: 1rem;
    object-fit: cover;
    pointer-events: none;
}

#addProfile{
    background: transparent;
    border: #004E7F solid 2px;
    color: #004E7F;
    border-radius: 25px;
}

#addProfile:hover{
    background: rgba(0, 118, 187, 0.75);
    color: white;
}

#formTitle{
    text-align: left !important;
    margin-bottom: 0px;
    color: #004E7F;
}

#gender #age{
    width: 50%;
}

.textInput{
    background: rgba(255, 255, 255, 0.6);
    border: #004E7F solid 2px;
    border-radius: 25px;
}

#gender{
  background: rgba(255, 255, 255, 0.6);
  border: #004E7F solid 2px;
  border-radius: 25px;
}

#security{
  text-align: center;
  width: 95% !important;
  height: auto !important;
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid white;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 2.5%;
  overflow: auto;

  position: relative;
}

#security input{
  margin-left: 12.5%;
  width: 75%;
}

#security #formTitle{
  margin-left: 12.5%;
}

#socialMedia{
    text-align: center;
    width: 95% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    overflow: auto;

    position: relative;

}

#connectionSubContent{
  position: relative;
}

.social-expanded{
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  position: relative;
}

#face-exp{
  background-color: rgba(59, 89, 152, 0.8);
}

#twit-exp{
  background-color: rgba(0, 172, 237, 0.8);
}

#you-exp{
  background-color: rgba(255, 0, 0, 0.8);
}

#black-exp{
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 300px;
}

#blackboardInterface{
  background-color: rgba(0, 0, 0, 0.8);
  max-height: 300px;
}

#subjectListContainer{
  overflow-y: scroll;
  max-height: 150px;
  border: 1px white solid;
  border-radius: 25px;
  /* margin-bottom: 1rem; */
}

#courseListContainer{
  overflow-y: scroll;
  max-height: 150px;
  border: 1px white solid;
  border-radius: 25px;
}
::-webkit-scrollbar { 
    display: none; 
}

.clickable{
  cursor: pointer;
}

#currentClasses{
  text-decoration: underline;
  opacity: 0.8;
}

#currentList{
  opacity: 0.8;
}

.socialConnect{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  color: lightgreen;
}

.socialNotConnect{
  font-size: 1.5rem;
  margin: 0px;
  padding: 0px;
  color: lightcoral;
}

.socialButton{
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  border: 2px solid white;
  border-radius: 25px;
}

.socialButton:hover{
  background-color: white;
  color: black;
}

.social-icon-button {
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
    position: relative;
    display: inline-block;
    text-align: center;
    font-size: 2rem;
    background: none;
    /* padding: 1rem; */
    margin-top: 1rem;
  }
  
  .social-icon-button + .social-icon-button {
    margin-left: 0.25rem;
  }
  
  .social-icon-button .fa {
    background: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: 1;
    line-height: 3.6rem;
    transition: all 0.3s ease-in-out;
  }
  
  .social-icon-button span {
    display: block;
    border-radius: 0;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
  }
  
  .social-icon-button:hover .fa {
    color: #fefefe;
  }
  
  .social-icon-button:hover span {
    display: block;
    border-radius: 3.6rem;
    width: 3.6rem;
    height: 3.6rem;
  }
  
  .social-icon-button.twitter {
    color: #00aced;
  }
  
  .social-icon-button.twitter span {
    background-color: #00aced;
  }
  
  .social-icon-button.youtube {
    color: #ff0000;
  }
  
  .social-icon-button.youtube span {
    background-color: #ff0000;
  }
  
  .social-icon-button.facebook {
    color: #3b5998;
  }
  
  .social-icon-button.facebook span {
    background-color: #3b5998;
  }

  .social-icon-button.blackboard{
    color: #000000;
  }
  
  .social-icon-button.blackboard span {
    background-color: #000000;
  }

  .social-icon-button.interest{
    color: gray;
  }
  
  .social-icon-button.interest span {
    background-color: gray;
  }

  .social-icon-button.arrow{
    color: #004E7F;
  }
  
  .social-icon-button.arrow span {
    background-color: #004E7F;
  }

#interests{
    text-align: center;
    width: 95% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    overflow: auto;
    position: relative;

    float: center !important;
}

#interestSelection{
  background: transparent;
  border: 2px solid #004E7F;
  border-radius: 25px;
  color: #004E7F;
  width: 100%;
  float: left;
  /* position: relative; */
  margin: 1%;
  /* margin-left: 6%; */
}

#interestInput{
  float: left;
  background: transparent;
  border: 2px solid #004E7F;
  border-radius: 25px;
  color: #004E7F;
  width: 100%;
  margin: 1%;
  /* position: relative; */
}

#interestButton{
  background:  transparent;
  border: 2px solid #004E7F;
  border-radius: 25px;
  color: #004E7F;
  width: auto;
  float: left;
  margin: 1%;
}

#interestButton:hover {
  background:  #0076BB;
  color: #004E7F;
  /* float: left; */
}

#displayInterests{
  width: 100%;
  height: auto;
  border: 2px solid #004E7F;
  border-radius: 25px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  float: left !important;
  align-content: left;
  position: relative;
}

.interestPanel{
  background: rgba(0, 118, 187, 0.75);
  border: 2px solid white;
  border-radius: 25px;
  height: auto;
  margin-top: 0.25rem;
  margin-bottom: 0..25rem;
  float: left;
  position: relative;
}

.interestTitle{
  font-size: 1.25rem;
  color: white;

}

.interestList{
  border: 2px solid white;
  border-radius: 25px;
  overflow: scroll;
  height: 125px;
  background: #004E7F;
}

.interestDiv{
  width: 100%;
  margin: 0px;
  padding: 0px;
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  color: white;
  height: auto !important;
  /* white-space: nowrap; */
  overflow: hidden;
}

.iInterestDiv{
  overflow: hidden;
  /* white-space: nowrap; */
  position: relative;
  margin: 0px;
  padding: 0px;
}

.iIterest{
  float: left;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-top: 0.33rem;
  font-size: 2vw;
  /* white-space: nowrap; */
  height: auto;
}

.iDeleteDiv{
  float: left;
  text-align: center;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.iDelete{
  float: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
  margin-top: 0.33rem;
  /* margin-right: 1rem; */
  cursor: pointer;
  font-size: 1.25rem;
  position: relative;
}

.iDelete:hover{
  color: red;
}

.iClear{
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;

}

#feedbackSection{
    text-align: center;
    width: 95% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    overflow: auto;
    float: center;

    position: relative;
}

#deleteAccount{
    text-align: center;
    width: 95% !important;
    height: auto !important;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    border-radius: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5%;
    overflow: auto;
    float: center;

    position: relative;
}