<div class="row" id="mainNav">
    <div class="medium-12 columns">
        <div class="columns medium-3" id="translateDiv">
            <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        </div>
        <div class="columns medium-6">
            <img src="../../assets/logo.png" id="navLogo" routerLink="/" routerLinkActive="active">
        </div>
        <div class="columns medium-3" id="invisible">SPACE </div>
        <div class="columns medium-3">
            <div class="dropdown">
                <button class="dropbtn">Navigation 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" routerLink="/" routerLinkActive="active">Home</a>
                    
                    <a routerLink="/signup" routerLinkActive="active" *ngIf="!authed">Signup</a>
                    <a routerLink="/map" routerLinkActive="active" *ngIf="authed">Map View</a>
                    <a routerLink="/list" routerLinkActive="active" *ngIf="authed">List View</a>
                    <a routerLink="/settings" routerLinkActive="active" *ngIf="authed">Settings</a>
                    <a routerLink="/signin" routerLinkActive="active" *ngIf="!authed">Login</a>
                    <a *ngIf="authed">Logout</a>
                </div>
            </div>
        </div>
    </div>

</div>