<div class="row" id="mainNav">
    <div class="medium-12 columns">
        <div class="columns medium-3" id="translateDiv">
            <div id="google_translate_element"></div><script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
                }
                </script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

        </div>
        <div class="columns medium-6">
            <img src="../../assets/logo.png" id="navLogo" routerLink="/" routerLinkActive="active">
        </div>
        <div class="columns medium-3" id="invisible">SPACE </div>
        <div class="columns medium-3">
            <div class="dropdown">
                <button class="dropbtn">Navigation 
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="#" routerLink="/" routerLinkActive="active">Home</a>
                    <a href="#" routerLink="/signin" routerLinkActive="active">Login</a>
                    <a href="#" routerLink="/signup" routerLinkActive="active">Signup</a>
                    <a href="#" routerLink="/settings" routerLinkActive="active">Settings</a>
                    <a href="#" routerLink="/map" routerLinkActive="active">Map View</a>
                    <a href="#" routerLink="/list" routerLinkActive="active">List View</a>
                </div>
            </div>
        </div>
    </div>

</div>