#mainNav{
    background-color: #f9f9f9;
    width: 100%;
    height: 20%;
    display: block;
    align-content: center;
    display: block;
    border-radius: 0px 0px 25px 25px;

}

#google_translate_element{
    background: transparent;
    width: 75%;
    margin-top: 1rem;
    margin-right: 0px;
    padding: 0px;
}

#navLogo{
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#invisible{
   visibility: hidden;
}

.logButton{
    padding: 0.5rem;
    font-size: 2rem;
    color: #0076BB;
    background-color: transparent;
    border-radius: 25px;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 10%;
    margin-left: 50%;
    border-color: #0076BB;
    border: 2px solid #0076BB;
    display: block;
    align-content: right;
    font-family: 'Roboto Condensed', sans-serif;
}

.logButton:hover{
    background-color: #0076BB;
    color: white;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: 2px solid #0076BB;
  border-radius: 25px;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #0076BB;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}