<div class="row" id="mainNav">
    <div class="medium-12 columns">
        <div class="columns medium-3" id="invisible">SPACE </div>
        <div class="columns medium-6">
            <img src="../../assets/logo.png" id="navLogo" routerLink="/" routerLinkActive="active">
        </div>
        <div class="columns medium-3" id="invisible">SPACE </div>
        <div class="columns medium-3">
            <!-- <button *ngIf="authed" class="button logButton" routerLink="/signin" routerLinkActive="active">Login</button> -->
        </div>
    </div>

</div>