#mainDiv{
    align-content: center;
    display: block;
}

.hidden{
	visibility: hidden;
}

.none{
	display: none;
}

.opacity{
	opacity: 0.5;
}

.tier3{
	background: #55C1FE;
}

.tier2{
	background: #01A2FF;
}

.tier1{
	background: #0076BB;
}

.tierC{
	background: #004E7F;
}

.selected{
	background: #01A2FF;
}

.notSelected{
	background: transparent;
}

#title{
	/* font-size: 2rem; */
	font-size: 2vw;
	color: white;
	width: auto;
	height: auto !important; 
	text-align: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

#listView{
    background: lightgray;
	color: white;
	border: 2px solid white;
    border-radius: 25px;
    height: 60vh;
    width: 100%;
    text-align: center;
	margin-bottom: -50px;
	overflow: scroll;
	position: relative;
	padding: 0px;

}

#refreshDiv{
	position: absolute;
	z-index: 2;
	top:0;
	right: 0;
}

.refreshButton{
	background: transparent;
	font-size: 1.5rem;
	color: #004E7F;
	margin: 1rem;
	margin-right: 1.5rem;
	padding: 0px;
}

#innerDiv{
	width: 100% !important;
	margin: 0px;
	padding: 0px;
}

#tier1{
	float: left;
	border: 2px solid white;
	border-radius: 25px;
	background:  #0076BB;
	cursor: pointer;
	margin-top: 0.25rem;
	height: 10%;
	max-height: 10%;
	overflow: hidden;
	padding-bottom: 1%;
	/* margin-left: 0.125rem; */
	/* margin-right: 0.125rem; */
}

#tier2{
	float: left;
	border: 2px solid white;
	border-radius: 25px;
	background: #01A2FF;
	cursor: pointer;
	margin-top: 0.25rem;
	height: 10%;
	max-height: 10%;
	overflow: hidden;
	padding-bottom: 1%;
}

#tier3{
	float: left;
	border: 2px solid white;
	border-radius: 25px;
	background: #55C1FE;
	cursor: pointer;
	margin-top: 0.25rem;
	height: 10%;
	max-height: 10%;
	overflow: hidden;
	padding-bottom: 1%;
}

#userDivInfo{
	float: left;
}

#userNameSmall{
	font-size: 2vw;
	color: white;
	/* float: left; */
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	white-space: nowrap;
}

#lowerText{
	font-size: 1.5vw;
	color: white;
	/* float: left; */

	padding: 0px;
	margin: 0px;
}

#userDivImg{
	margin: 0px;
	padding: 0px;
	/* width: 25%; */
	height: auto;
	float: left;
	margin-top: 2.5%;
}

#listUser{
	/* width: 80px;
	height: 80px; */
	width: 7vw;
	height: 7vw;
	border: 2px solid white;
	border-radius: 50%;
	margin-top: 2.5%;
	object-fit: cover;
	pointer-events: none;
}

#listUserSelected{
	/* width: 80px;
	height: 80px; */
	width: 7.5rem;
	height: 7.5rem;
	border: 2px solid white;
	border-radius: 50%;
	margin-top: 2.5%;
	object-fit: cover;
	pointer-events: none;
}

#selectedUser{
	float: center;
	z-index: 5;
	position: absolute;
	width: 100%;
	padding: 0px;
	/* top:0; */
}

#selectedUserInfo{
	/* background: #0076BB; */
	border: 2px solid white;
	border-radius: 25px;
	width: 50%;
	margin-left: 25%;
	margin-top: 1rem;
}

#SelectedUserNameSmall{
	font-size: 	1.5rem;
	color: white;
	/* float: left; */
	padding: 0px;
	margin: 0px;
}

#SelectedLowerText{
	font-size: 1rem;
	color: white;
	/* float: left; */
	padding: 0px;
	margin: 0px;
}

.selectedButton{
	margin-top: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    background: transparent;
    color: white;
    border: white solid 2px;
	border-radius: 25px;
}

.selectedButton:hover{
	background: white;
	color: #004E7F;
	border: #004E7F solid 2px;
}

#filterSection{
	float: center;
	z-index: 5;
	position: absolute;
	width: 90vw;
	/* top:0; */
}

#filterContent{
	background: #01A2FF;
	border: 2px solid white;
	border-radius: 25px;
	width: 50%;
	margin-left: 24%;
	margin-top: 1rem;
}

#broadcastMessage{
	color: black;
}

#filterTitle{
	font-size: 1.5rem;
}

#filterContent label{
	font-size: 1rem;
	color: white;
}

#filterSelect{
	background: transparent;
	border: 2px solid #004E7F;
	border-radius: 25px;
	color: #004E7F;

}

.addFilterButton{
	background: transparent;
	color: #004E7F;
	border: 2px solid #004E7F;
	border-radius: 25px;
}

.addFilterButton:hover{
	background: #004E7F;
	color: white;
}

#currentFilters{
	border: 2px solid white;
	border-radius: 25px;
	width: 100%;
	height: 125px;
	overflow: scroll;
	background: #004E7F;
}

#currentFilterText{
	font-size: 2vw;
	width: 50%;
	float: left;
	margin: 0px;
}
#deleteFilter{
	cursor: pointer;
}

#deleteFilter:hover{
	color: red;
}



#invisible{
	visibility: hidden;
}

#iconDiv{
	align-content: center;
	position: relative;
	width: 100%;
	height: auto;
	padding: 0px;

	display: block;
	float: left;

	z-index: 10;
	pointer-events:none; 
}

#userpic{
	/* width: 11%;
	height: 11%; */
	width: 10vw;
	height: 10vw;
	margin-left: 44.5%;
	border: 4px solid white;
	border-radius: 50%;

	object-fit: cover;
	pointer-events: none;
}

#userView{
	background: white;
	color: white;
    border-radius: 25px;
    height: auto;
	width: 100%;
	position: relative;

	/* margin-top: -50px; */
	margin-top: -4vw;
	z-index: 0;

	float: left;
	pointer-events:auto; 
}

#userName{
	font-size: 3vw;
	color: #004E7F;
	float: left;
	padding: 0px;
	margin: 0px;
}
#moodStatus{
	font-size: 2vw;
	color: #0076BB;
	float: left;
	padding: 0px;
	margin: 0px;
}

#editMood{
	cursor: pointer;
}

#moodSelect{
	background: transparent;
	border: 2px solid #0076BB;
	border-radius: 25px;
	color: #0076BB;
}

.updateMood{
	background: transparent;
	border: 2px solid #0076BB;
	border-radius: 25px;
	color: #0076BB;
}

.updateMood:hover{
	color: white;
	background: #0076BB;
}

#userNameDiv{
	padding: 0px;
	margin: 0px;
}
#moodStatusDiv{
	text-align: left;
	padding: 0px;
	margin-top: -40px;
}

#toggleDiv{
	text-align: right !important;
	float: right;

	position: relative;
    z-index: 100;

}

.mapButton{
    margin-top: 1rem;
    padding: 1rem;
    font-size: 1.5vw;
    background: transparent;
    color: #004E7F;
    border: #004E7F solid 2px;
	border-radius: 25px;
	
}

.mapButton:hover{
    background-color: #0076BB;
    color: white;
}

.sliderContainer{
	width: 100%;
	height: auto;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
	transition: opacity .2s;
	
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgba(0, 118, 187, 0.75);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgba(0, 118, 187, 0.75);
    cursor: pointer;
}

#sliderValue{
	color: #004E7F;
	font-size: 1.5rem;
	margin: 0px;
	padding: 0px;
}

#settingsDiv{
	align-content: center !important;
	text-align: center;
}

#settingsButton{
	float: center;
	align-content: center;
	margin-top: 0rem;
}

#invisibilityDiv{
	text-align: center;
	width: 50% !important;
	height: auto !important;
	background-color: rgba(255, 255, 255, 0.8);
	border: 2px solid white;
	border-radius: 25px;
	margin-top: 1rem;
	margin-bottom: 1rem;
	overflow: auto;
  }
  
  .switch{
	border-radius: 25px;
  }
  
  .switch input:checked ~ .switch-paddle{
	background: #0076BB;
  }
  
  
  .mobile-app-toggle {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 95%;
	border: 1px solid #1779ba;
	border-radius: 0.625rem;
	overflow: hidden;
	margin-bottom: 1rem;
	margin-left: 2.5%;
	margin-right: 2.5%;
  }
  
  .mobile-app-toggle .button {
	background: transparent;
	color: #1779ba;
	margin-bottom: 0;
	-webkit-flex: 1 0 0;
		-ms-flex: 1 0 0px;
			flex: 1 0 0;
  }
  
  .mobile-app-toggle .button:nth-child(n+1) {
	border-left: 1px solid #1779ba;
  }
  
  .mobile-app-toggle .button.is-active {
	background: #1779ba;
	color: #fefefe;
  }

  #broadcastsDiv{
	border: 2px solid #004E7F;
	border-radius: 25px;
	margin: 0px;
	padding: 0px;
	margin-bottom: 1rem;
	color: #004E7F;
	height: 95vh;
	overflow: hidden;
	float: left;

	position: relative;
	z-index: 1;
  
}

#broadHeader{
	background: #0076BB;
	/* width: 100%; */
	/* height: 60px; */
	height: 10vh;
	margin: 0px;
	padding: 0px;

	border-bottom: 2px solid #004E7F;
	font-size: 1.5rem;
	color: white;
	text-align: center;
	position: relative;
}

#bHeaderText{
  margin-top: 1%;
  margin-bottom: 1%;
  
}

#refreshBroadcasts{
  float: right;
  align-content: right;	
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 1%;
}

.bHeaderButton{
  background: transparent;
  border: 2px solid white;
  border-radius: 25px;
  color: white;
  margin: 0px;
  margin-top: 1%;
  margin-bottom: 1%;
}

.bHeaderButton:hover{
  background: white;
  border: 2px solid #004E7F;
  border-radius: 25px;
  color: #004E7F;
  margin: 0px;
  margin-top: 1%;
  margin-bottom: 1%;
}

#broadContent{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

#broadcastList{
  height: 85vh;
  background: #f4f4f4;
  margin: 0px;
  padding:0px;
  border-right: 2px solid #004E7F;
  float: left;
  overflow: scroll;
  padding-bottom: 1.5%;
  position: absolute;
  z-index: 1;
}

#broadcastPanel{
  border-bottom: 2px solid #004E7F;
  /* border-radius: 25px; */
  width: 100%;
  height: auto;
  min-height: 20%;
  float: center;
  position: relative;
  background: transparent;
  overflow:hidden;

}

#broadcastPanel:hover{
	background: #01A2FF;
	cursor: pointer;
}

#broadPic{
  /* width: 11%;
  height: 11%; */
  /* width: 5.5rem;
  height: 5.5rem; */
  width: 7vw;
  height: 7vw;
  margin-left: 5%;
  margin-top: 0.5rem;
  border: 2px solid #004E7F;
  border-radius: 50%;

  object-fit: cover;
  pointer-events: none;
}

#newBroadcast{
  background: #004E7F;
  width: 100%;
  height: auto;
  color: white;
  padding-top: 0.5rem;

  position: absolute;
  top: 10vh;
  z-index: 4;
}

#broadSelect{
  background: transparent;
  color: #55C1FE;
  border: 2px solid #0076BB;
  border-radius: 25px;
}

#newBroadInput{
  background: transparent;
  color: white;
  border: 2px solid #0076BB;
  border-radius: 25px;
}

.newBroadButton{
  background: transparent;
  border: 2px solid  #0076BB;
  border-radius: 25px;
  color:  white;
}

.newBroadButton:hover{
  background: #0076BB;
  border: 2px solid #0076BB;
}

#filterBroadcast{
  background: #004E7F;
  width: 100%;
  height: auto;
  color: white;
  padding-top: 0.5rem;

  position: absolute;
  top: 10vh;
  z-index: 4;
}

#threadView{
  height: auto;
  margin: 0px;
  padding: 0px;
}

.broadcastText{
	margin: 0px;
	height: auto;
}

.broadButton{
	background: transparent;
	border: 2px solid #004E7F;
	border-radius: 25px;
	color: #004E7F;
}

.broadButton:hover{
	background: #004E7F;
	color: white;
}

#threadExpanded{
	height: 78vh;
	width: 100%;
	position: relative;
	overflow: scroll;
}

#threadHeader{
	background: #dbdbdb;
	border: 2px solid #004E7F;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	margin-top: 2.5%;
	width: 95%;
	height: 20%;
	margin-left: 2.5%;
}

#threadUser{
	margin-bottom: 1.5%;
}

#threadPic{
  width: 5vw;
  height: 5vw;
  /* margin-left: 1vw; */
  margin-top: 0.5rem;
  border: 2px solid #004E7F;
  border-radius: 50%;

  object-fit: cover;
  pointer-events: none;
}

#commentPic{
  /* width: 11%;
  height: 11%; */
  /* width: 5.5rem;
  height: 5.5rem; */
  width: 3vw;
  height: 3vw;
  margin-left: 5%;
  margin-top: 5%;
  border: 2px solid #004E7F;
  border-radius: 50%;

  object-fit: cover;
  pointer-events: none;
}

#threadComment{
  min-height: 10%;
  height: auto;
  width: 90%;
  margin-left: 7.5%;
  border: 2px solid #004E7F;
  border-top: none;
  float: left;
  background: #f4f4f4;
}

#broadResponse{
	/* height: 10%; */
	border-top: 2px solid #004E7F;
	width: 100%;
	margin: 0px;
	padding: 0px;
	float: left;
	position: relative;
}

#broadInput{
	background: transparent;
	border-right: 2px solid #004E7F;
	width: 85%;
	margin: 0px;
	padding: 0px;
	float: left;
	color: #004E7F
}

.broadInputButton{
  background: transparent;
  color: #004E7F;
  width: 15%;
  margin: 0px;
  float: left;
}

.broadInputButton:hover{
  background: #004E7F;
  color: white;
  float: center;
}

#messagesDiv{
  border: 2px solid #004E7F;
  border-radius: 25px;
  margin: 0px;
  padding: 0px;
  margin-bottom: 1rem;
  color: #004E7F;
  height: 95vh;
  overflow: hidden;
  float: left;

  position: relative;
  z-index: 1;

}

#messagesPanel{
  border-bottom: 2px solid #004E7F;
  width: 100%;
  height: 20%;
  float: center;
  position: relative;
  /* margin-left: 2.5%; */
  /* margin-top: 2.5%;  */
  cursor: pointer;
}

#messagesPanel:hover{
  background: #01A2FF;
}

#messagesPic{
  width: 6vw;
  height: 6vw;
  margin-left: 5%;
  margin-top: 10%;
  border: 2px solid #004E7F;
  border-radius: 50%;

  object-fit: cover;
  pointer-events: none;
}

#messagesInfo{
  margin-top: 0.75rem;
}

#messagesText{
  font-size: 1.25vw;
  margin: 0px;
  padding: 0px;
}

#messagesView{
  /* padding-top: 2.5%; */
  /* width: 100%; */
  margin: 0px;
  padding: 0px;
}

#messagesThread{
  height: 78vh;
  width: 100%;
  position: relative;
  overflow: scroll;
  padding-top: 2.5%;
}

#messageResponse{
  border-top: 2px solid #004E7F;
  width: 100%;
  margin: 0px;
  padding: 0px;
  float: left;
  position: relative;
}

#message{
	width: 25%;
	height: auto;
	color: #004E7F;
	padding-left: 2.5%;
	padding-top: 1%;
	word-wrap: break-word;
}

.messageLeft{
	margin-left: 5%;
	background: #f4f4f4;
	border: 2px solid #dbdbdb;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	margin-bottom: 1%;
}

.messageRight{
	margin-left: 70%;
	background: #01A2FF;
	border: 2px solid #0076BB;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	margin-bottom: 1%;
}