<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    	<div class="medium-12 medium-centered column" id="messageDiv">
        	<p class="unselectable" id="title">Explore the World Around You!</p>
    	</div>
    	
    	<div class="medium-12 column" id="listView">
    		<!-- <div class="medium-3 column"> -->
    			<div class="medium-4 column" id="userDiv">
					<!-- <div id="userDivImg" class="medium-1 column"> -->
							<img id="listUser" src="../../assets/profileicon.ico">
					<!-- </div> -->
					<div id="userDivInfo" class="medium-4 column">
						<div class="medium-3 column" id="innerDiv">
								<p id="userNameSmall">User Name</p>
						</div>
						<div class="medium-3 column" id="innerDiv">
								<p id="lowerText">Mood Status</p>
						</div>
						<div class="medium-3 column" id="innerDiv">
								<p id="lowerText">Distance Away</p>
						</div>
						<div class="medium-3 column" id="innerDiv">
								<p id="lowerText">Commonalities</p>
						</div>
					</div>
				</div>

				<div class="medium-4 column" id="userDiv">
						<!-- <div id="userDivImg" class="medium-1 column"> -->
								<img id="listUser" src="../../assets/profileicon.ico">
						<!-- </div> -->
						<div id="userDivInfo" class="medium-4 column">
							<div class="medium-3 column" id="innerDiv">
									<p id="userNameSmall">User Name</p>
							</div>
							<div class="medium-3 column" id="innerDiv">
									<p id="lowerText">Mood Status</p>
							</div>
							<div class="medium-3 column" id="innerDiv">
									<p id="lowerText">Distance Away</p>
							</div>
							<div class="medium-3 column" id="innerDiv">
									<p id="lowerText">Commonalities</p>
							</div>
						</div>
					</div>

					<div class="medium-4 column" id="userDiv">
							<!-- <div id="userDivImg" class="medium-1 column"> -->
									<img id="listUser" src="../../assets/profileicon.ico">
							<!-- </div> -->
							<div id="userDivInfo" class="medium-4 column">
								<div class="medium-3 column" id="innerDiv">
										<p id="userNameSmall">User Name</p>
								</div>
								<div class="medium-3 column" id="innerDiv">
										<p id="lowerText">Mood Status</p>
								</div>
								<div class="medium-3 column" id="innerDiv">
										<p id="lowerText">Distance Away</p>
								</div>
								<div class="medium-3 column" id="innerDiv">
										<p id="lowerText">Commonalities</p>
								</div>
							</div>
						</div>

						<div class="medium-4 column" id="userDiv">
								<!-- <div id="userDivImg" class="medium-1 column"> -->
										<img id="listUser" src="../../assets/profileicon.ico">
								<!-- </div> -->
								<div id="userDivInfo" class="medium-4 column">
									<div class="medium-3 column" id="innerDiv">
											<p id="userNameSmall">User Name</p>
									</div>
									<div class="medium-3 column" id="innerDiv">
											<p id="lowerText">Mood Status</p>
									</div>
									<div class="medium-3 column" id="innerDiv">
											<p id="lowerText">Distance Away</p>
									</div>
									<div class="medium-3 column" id="innerDiv">
											<p id="lowerText">Commonalities</p>
									</div>
								</div>
							</div>

							<div class="medium-4 column" id="userDiv">
									<!-- <div id="userDivImg" class="medium-1 column"> -->
											<img id="listUser" src="../../assets/profileicon.ico">
									<!-- </div> -->
									<div id="userDivInfo" class="medium-4 column">
										<div class="medium-3 column" id="innerDiv">
												<p id="userNameSmall">User Name</p>
										</div>
										<div class="medium-3 column" id="innerDiv">
												<p id="lowerText">Mood Status</p>
										</div>
										<div class="medium-3 column" id="innerDiv">
												<p id="lowerText">Distance Away</p>
										</div>
										<div class="medium-3 column" id="innerDiv">
												<p id="lowerText">Commonalities</p>
										</div>
									</div>
								</div>

								<div class="medium-4 column" id="userDiv">
										<!-- <div id="userDivImg" class="medium-1 column"> -->
												<img id="listUser" src="../../assets/profileicon.ico">
										<!-- </div> -->
										<div id="userDivInfo" class="medium-4 column">
											<div class="medium-3 column" id="innerDiv">
													<p id="userNameSmall">User Name</p>
											</div>
											<div class="medium-3 column" id="innerDiv">
													<p id="lowerText">Mood Status</p>
											</div>
											<div class="medium-3 column" id="innerDiv">
													<p id="lowerText">Distance Away</p>
											</div>
											<div class="medium-3 column" id="innerDiv">
													<p id="lowerText">Commonalities</p>
											</div>
										</div>
									</div>

									<div class="medium-4 column" id="userDiv">
											<!-- <div id="userDivImg" class="medium-1 column"> -->
													<img id="listUser" src="../../assets/profileicon.ico">
											<!-- </div> -->
											<div id="userDivInfo" class="medium-4 column">
												<div class="medium-3 column" id="innerDiv">
														<p id="userNameSmall">User Name</p>
												</div>
												<div class="medium-3 column" id="innerDiv">
														<p id="lowerText">Mood Status</p>
												</div>
												<div class="medium-3 column" id="innerDiv">
														<p id="lowerText">Distance Away</p>
												</div>
												<div class="medium-3 column" id="innerDiv">
														<p id="lowerText">Commonalities</p>
												</div>
											</div>
										</div>


										<div class="medium-4 column" id="userDiv">
												<!-- <div id="userDivImg" class="medium-1 column"> -->
														<img id="listUser" src="../../assets/profileicon.ico">
												<!-- </div> -->
												<div id="userDivInfo" class="medium-4 column">
													<div class="medium-3 column" id="innerDiv">
															<p id="userNameSmall">User Name</p>
													</div>
													<div class="medium-3 column" id="innerDiv">
															<p id="lowerText">Mood Status</p>
													</div>
													<div class="medium-3 column" id="innerDiv">
															<p id="lowerText">Distance Away</p>
													</div>
													<div class="medium-3 column" id="innerDiv">
															<p id="lowerText">Commonalities</p>
													</div>
												</div>
											</div>

											<div class="medium-4 column" id="userDiv">
													<!-- <div id="userDivImg" class="medium-1 column"> -->
															<img id="listUser" src="../../assets/profileicon.ico">
													<!-- </div> -->
													<div id="userDivInfo" class="medium-4 column">
														<div class="medium-3 column" id="innerDiv">
																<p id="userNameSmall">User Name</p>
														</div>
														<div class="medium-3 column" id="innerDiv">
																<p id="lowerText">Mood Status</p>
														</div>
														<div class="medium-3 column" id="innerDiv">
																<p id="lowerText">Distance Away</p>
														</div>
														<div class="medium-3 column" id="innerDiv">
																<p id="lowerText">Commonalities</p>
														</div>
													</div>
												</div>

												<div class="medium-4 column" id="userDiv">
														<!-- <div id="userDivImg" class="medium-1 column"> -->
																<img id="listUser" src="../../assets/profileicon.ico">
														<!-- </div> -->
														<div id="userDivInfo" class="medium-4 column">
															<div class="medium-3 column" id="innerDiv">
																	<p id="userNameSmall">User Name</p>
															</div>
															<div class="medium-3 column" id="innerDiv">
																	<p id="lowerText">Mood Status</p>
															</div>
															<div class="medium-3 column" id="innerDiv">
																	<p id="lowerText">Distance Away</p>
															</div>
															<div class="medium-3 column" id="innerDiv">
																	<p id="lowerText">Commonalities</p>
															</div>
														</div>
													</div>

													<div class="medium-4 column" id="userDiv">
															<!-- <div id="userDivImg" class="medium-1 column"> -->
																	<img id="listUser" src="../../assets/profileicon.ico">
															<!-- </div> -->
															<div id="userDivInfo" class="medium-4 column">
																<div class="medium-3 column" id="innerDiv">
																		<p id="userNameSmall">User Name</p>
																</div>
																<div class="medium-3 column" id="innerDiv">
																		<p id="lowerText">Mood Status</p>
																</div>
																<div class="medium-3 column" id="innerDiv">
																		<p id="lowerText">Distance Away</p>
																</div>
																<div class="medium-3 column" id="innerDiv">
																		<p id="lowerText">Commonalities</p>
																</div>
															</div>
														</div>

														<div class="medium-4 column" id="userDiv">
																<!-- <div id="userDivImg" class="medium-1 column"> -->
																		<img id="listUser" src="../../assets/profileicon.ico">
																<!-- </div> -->
																<div id="userDivInfo" class="medium-4 column">
																	<div class="medium-3 column" id="innerDiv">
																			<p id="userNameSmall">User Name</p>
																	</div>
																	<div class="medium-3 column" id="innerDiv">
																			<p id="lowerText">Mood Status</p>
																	</div>
																	<div class="medium-3 column" id="innerDiv">
																			<p id="lowerText">Distance Away</p>
																	</div>
																	<div class="medium-3 column" id="innerDiv">
																			<p id="lowerText">Commonalities</p>
																	</div>
																</div>
															</div>
    	</div>
    	<!-- <div class="medium-4 column" id="invisible">I</div> -->
    	<div class="medium-12 column" id="iconDiv">
<!--	<img id="userpic" src="../../assets/profileicon.ico">-->
			<img id="userpic" [src]="model.user.url"/><br>    	</div>
    	<!-- <div class="medium-4 column" id="invisible">I</div> -->
    	
		<div class="medium-12 column" id="userView">
				<div class="medium-6 column" id="userNameDiv">
					  <p id="userName">{{model.user.fullName}} </p>
				</div>
				<div class="medium-6 column" id="toggleDiv">
					  <button type="button" class="button mapButton" id="listButton" routerLink="/map" routerLinkActive="active"><i class="fa fa-map-marker"></i>	Map View</button>
					  <button type="button" class="button mapButton" id="filterButton"><i class="fa fa-filter"></i>	Filter</button>
					  <button type="button" class="button mapButton" id="rangeButton" (click)="toggleRange()"><i class="fa fa-sliders"></i>	Range</button>
				</div>
  
				<div class="medium-12 column" id="moodStatusDiv">

						<p id="moodStatus">{{model.user.moodStatus}} <i class="fa fa-pencil" id="editMood" (click)="toggleMood()"></i></p>
				  </div>
	
				  <div id="editMoodDiv" class="medium-6 column" [ngClass]="{'' : editMood, 'hidden' : !editMood}">
				  	<form (ngSubmit)="moodChange()" #signupForm="ngForm">
					  <div class="medium-6 column">
							<select id="moodSelect" name="mood" [(ngModel)]="model.moodStatus">
									<option value="Online">Online</option>
									<option value="Away">Away</option>
									<option value="Offline">Offline</option>
							</select>
					  </div>
					  <div class="medium-6 column">
						  <button class="button updateMood">Update</button>
					  </div>
					</form>
				  </div>
				  
				  <div class="medium-6 column" [ngClass]="{'' : editRange, 'hidden' : !editRange}">
						<div class="medium-8 column">
							<div class="slidecontainer">
								<input type="range" min="15" max="19" value="15" step="1" class="slider" id="range" [(ngModel)]="currentZoom"/>
							</div>
						</div>
						<div class="medium-2 column">
								<p id="sliderValue">{{currentZoom-14}}x</p>
						</div>
						<div class="medium-2 column">
							<button class="button updateMood" (click)="zoomMap()">Update</button>
						</div>
						
					</div>
  
				<div class="medium-12 medium-centered column" id="settingsDiv">
				  <button class="button mapButton" id="settingsButton" routerLink="/settings" routerLinkActive="active"><i class="fa fa-cogs"></i>	Settings</button>
				</div>
			  
		  </div>
  	</div>
</div>
