<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    	<div class="medium-12 medium-centered column" id="messageDiv">
        	<p class="unselectable" id="title">Explore the World Around You!</p>
    	</div>
    	
    	<div class="medium-12 column" id="mapView">
    		<agm-map [latitude]="lat" [longitude]="lng">
    			<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    		</agm-map>
    		
    	</div>

    	<!-- <div class="medium-4 column" id="invisible">I</div> -->
    	<div class="medium-12 column" id="iconDiv">
  			<img id="userpic" src="../../assets/profileicon.ico">
    	</div>
    	<!-- <div class="medium-4 column" id="invisible">I</div> -->
    	
  		<div class="medium-12 column" id="userView">
			  <div class="medium-6 column" id="userNameDiv">
					<p id="userName">User Name</p>
			  </div>
			  <div class="medium-6 column" id="toggleDiv">
					<button type="button" class="button mapButton" id="listButton">List View</button>
					<button type="button" class="button mapButton" id="filterButton">Filter</button>
			  </div>

			  <div class="medium-12 column" id="moodStatusDiv">
					<p id="moodStatus">Mood Status</p>
			  </div>

			  <div class="medium-12 column" id="settingsDiv">
				<button class="button mapButton" id="settingsButton">Settings</button>
			  </div>
			
		</div>
  	</div>
  	
</div>