#mainDiv{
    height: 100%;
    width: 100%;
}

#title{
	margin-top: 1.5rem;
	font-size: 2rem;
	color: white;
    margin-left: 5.25rem;
}

.mapbackground{
    background: white;
    color: white;
    border-radius: 25px;
    height: 500px !important;
    width: 100%;
    text-align: center;
    margin-bottom: -3rem;
}

.userpic{
	/*background: gray;
	color: white;
	border-radius: 50%;*/
	width: 50px;
	height: 50px;
	/*padding-left: 5rem !important;*/
}

.bottombox{
	background: white;
	color: white;
    border-radius: 25px;
    height: 100px;
	width: 100%;
	margin-top: -3rem;
	z-index: -1;
	position: relative;
}