<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    	<div class="medium-12 medium-centered column" id="messageDiv">
        	<p class="unselectable" id="title">Explore the World Around You!</p>
    	</div>
    	
    	<div class="medium-12 column" id="mapView">
    		<agm-map [latitude]="lat" [longitude]="lng">
    			<agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    		</agm-map>
    		
    	</div>

    	<!-- <div class="medium-4 column" id="invisible">I</div> -->
    	<div class="medium-12 column" id="iconDiv">
  			<img id="userpic" src="../../assets/profileicon.ico">
    	</div>
    	<!-- <div class="medium-4 column" id="invisible">I</div> -->
    	
  		<div class="medium-12 column" id="userView">
			  <div class="medium-6 column" id="userNameDiv">
					<p id="userName">User Name</p>
			  </div>
			  <div class="medium-6 column" id="toggleDiv">
					<button type="button" class="button mapButton" id="listButton" routerLink="/list" routerLinkActive="active"><i class="fa fa-list-ul"></i>	List View</button>
					<button type="button" class="button mapButton" id="filterButton"><i class="fa fa-filter"></i>	Filter</button>
					<button type="button" class="button mapButton" id="rangeButton" (click)="toggleRange()"><i class="fa fa-sliders"></i>	Range</button>
					
			  </div>

			  <div class="medium-12 column" id="moodStatusDiv">
					
					<p id="moodStatus">Mood Status <i class="fa fa-pencil" id="editMood" (click)="toggleMood()"></i></p>
			  </div>

			  <div id="editMoodDiv" class="medium-6 column" [ngClass]="{'' : editMood, 'hidden' : !editMood}">
				  <div class="medium-6 column">
						<select id="moodSelect" name="mood">
								<option value="online">Online</option>
								<option value="away">Away</option>
								<option value="offline">Offline</option>
						</select>
				  </div>
				  <div class="medium-6 column">
					  <button class="button updateMood">Update</button>
				  </div>
			  </div>
			  
			  <div class="medium-6 column" [ngClass]="{'' : editRange, 'hidden' : !editRange}">
					<div class="medium-10 column">
							<div class="slidecontainer">
									<input type="range" min="0.25" max="3" value="0.5" step="0.25" class="slider" id="range">
							</div>
					</div>
					  <div class="medium-2 column">
						  <button class="button updateMood">Update</button>
					  </div>
			  </div>

			  <div class="medium-12 medium-centered column" id="settingsDiv">
				<button class="button mapButton" id="settingsButton" routerLink="/settings" routerLinkActive="active"><i class="fa fa-cogs"></i>	Settings</button>
			  </div>
			
		</div>
  	</div>
  	
</div>