<particles [params]="pConfig.params" [style]="pConfig.style" [width]="pConfig.width" [height]="pConfig.height"></particles>
<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
<div id="mainDiv">
  <div class="row">
    <div class="medium-12 medium-centered column">

      <div class="medium-3" id="invisible">.</div>
      <div class="medium-6 medium-centered column" id="topText">
        <p id="header">You're almost there!</p>
        <p id="subtext">Tell us more about you below so you can easily match those around you</p>
      </div>
      <div class="medium-3" id="invisible"></div>

      <div id="basicInfo">
        <p id="iconSubtext">Lets start with some basic information</p>
        <p id="iconSubtext">----------------------------------------------------</p>
        <div class="medium-4 column">
          <!-- <img id="profileIcon" src="../../assets/profileicon.ico"/><br>
          <button id="addProfile" type="button" class="button">Upload Profile Picture</button>-->
          <img id="profileIcon" [src]="model.user.url" />
          <br>
          <div class="upload-buttonPhoto-wrapper">
            <button class="button buttonPhoto">Change Profile Picture</button>
            <input type='file' (change)="onSelectFile($event)" id="hiddenFile">
          </div>

        </div>
        <div class="medium-8 column">
          <p id="formTitle">First Name:</p>
          <input class="textInput" type="text" name="firstName" [(ngModel)]="model.user.firstName">
          <p id="fnameError" class="error">{{errors.fName}}</p>
          <p id="formTitle">Last Name:</p>
          <input class="textInput" type="text" name="lastName" [(ngModel)]="model.user.lastName">
          <p id="lnameError" class="error">{{errors.lName}}</p>
          <p id="formTitle">Gender:</p>
          <select id="gender" name="gender" [(ngModel)]="model.user.gender">
            <option selected="true" disabled="disabled">Please select an option</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>

          </select>
          <p class="error">{{errors.genderE}}</p>
          <p id="formTitle">Age:</p>
          <input class="textInput" type="number" name="age" min="0" max="100" id="age" [(ngModel)]="model.user.age">
          <p class="error">{{errors.ageE}}</p>
        </div>
      </div>

      <div id="subBox">
        <p class="error">{{errors.createError}}</p>
        <button (click)="submit()" class="button" routerLinkActive="active" id="createSubmit">Let me in</button>
      </div>
    </div>

  </div>

</div>