<particles [params]="pConfig.params" [style]="pConfig.style" [width]="pConfig.width" [height]="pConfig.height"></particles>

<div class="row" id="mainDiv">
	<div class="medium-12 medium-centered column" id="welcomeDiv">
    <!-- <p id="welcome">Welcome to Connec+</p> -->
    <div class="medium-6 column" id="messageDiv">
        <p class="unselectable" id="message">Connect with the world around you</p>
        
        <button class="button" routerLink="/signup" routerLinkActive="active">Signup</button>
        <button class="button" routerLink="/signin" routerLinkActive="active">Login</button>
    </div>
    <div class="medium-6 column">
        <img src="../../assets/phoneView.png" id="mockup">
    </div>
  </div>

  <div class="medium-12 medium-centered column" id="firstSection">
      <p id="firstTitle">How it Works</p>
      <!-- <button class="button" id="downButton">⇩</button> -->
      <button id="downArrow" class="social-icon-button arrow" onClick="document.getElementById('socialIcons').scrollIntoView();"><i class="fa fa-arrow-down"></i><span></span></button>
      <div id="socialIcons" class="icons">
          <p id="connectMessage">Connect current social media to your Connec+ Account</p>
          <div class="medium-3 column">
              <a class="social-icon-button facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span></span></a>
              <p>Facebook</p>
          </div>
          <div class="medium-3 column">
            <a class="social-icon-button instagram"><i class="fa fa-instagram"></i><span></span></a>
            <p>Instagram</p>
          </div>
          <div class="medium-3 column">
            <a class="social-icon-button linkedin"><i class="fa fa-linkedin"></i><span></span></a>
            <p>Linkedin</p>
          </div>
          <div class="medium-3 column">
            <a class="social-icon-button blackboard"><i class="fa fa-pencil-square-o"></i><span></span></a>
            <p>Blackboard</p>
          </div>
      </div>
      
      <p id="downArrow" class="social-icon-button arrow" onClick="document.getElementById('interestIcons').scrollIntoView();"><i class="fa fa-arrow-down"></i><span></span></p>
      <div id="interestIcons" class="icons">
          <p id="connectMessage">Add other interests to your profile such as...</p>
          <div class="medium-3 column">
              <a class="social-icon-button interest"><i class="fa fa-futbol-o"></i><span></span></a>
              <p>Sports</p>
          </div>
          <div class="medium-3 column">
            <a class="social-icon-button interest"><i class="fa fa-users"></i><span></span></a>
            <p>Clubs</p>
          </div>
          <div class="medium-3 column">
            <a class="social-icon-button interest"><i class="fa fa-music"></i><span></span></a>
            <p>Music</p>
          </div>
          <div class="medium-3 column">
            <a class="social-icon-button interest"><i class="fa fa-coffee"></i><span></span></a>
            <p>Food</p>
          </div>
      </div>
      <p id="downArrow" class="social-icon-button arrow"><i class="fa fa-arrow-down"></i><span></span></p>
      <div id="mapDiv">
          <div class="medium-6 column">
              <img src="../../assets/mapView.png" id="mapView"/>
            </div>
            <div class="medium-6 column">
                <p id="connectMessage" class="others">Find other users nearby and discover similarities</p>
            </div>
      </div>
      <p id="connectMessage">Join the fun!</p>
      
      <button class="button button-bottom" routerLink="/signup" routerLinkActive="active">Signup</button>
      <button class="button button-bottom" routerLink="/signin" routerLinkActive="active">Login</button>
      
      
  </div>
</div>