<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Connect+</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
        <link rel="stylesheet" href="splash.component.css">
        <script src="particles.js"></script>
    </head>
    <body>
      <div id="particles-js"></div>
      <div class="row" id="mainNav">
        <div class="medium-12 medium-centered column">
          <p id="welcome">Welcome to Connec+</p>
        </div>
      </div>
    </body>
</html>
